name: Test
run-name: ${{ github.actor }} is testing heymoon/vector-tile-data-provider
on:
  workflow_dispatch: {}
  push:
    paths:
      - proto
      - src
      - test
      - composer.json
      - Dockerfile
      - Makefile
      - phpunit.xml
      - ruleset.xml
jobs:
  test:
    runs-on: Linux
    steps:
      - uses: actions/checkout@v1
      - run: make composer
      - run: make audit
      - name: Upload test results
        uses: mikepenz/action-junit-report@v3
        with:
          report_paths: test-reports/tests.xml
      - name: Upload coverage results
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CodeClimateToken }}
        with:
          coverageLocations: ${{ github.workspace }}/test-reports/coverage.xml:cobertura
          workingDirectory: ${{ github.workspace }}/src
      - name: PHPMD
        run: make phpmd
      - run: make clean
